# CropWatch Mobile App Environment Variables

# API Configuration
EXPO_PUBLIC_API_URL=http://localhost:3000

# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://yhttps://artytkmsqahngrcncokm.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=youeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFydHl0a21zcWFobmdyY25jb2ttIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNTQxODEsImV4cCI6MjA5MTgzMDE4MX0.Z9iKgC84SFthcb_zyolc5f88UR7qhqltMNBd0EPWXvQr_supabase_anon_key_hsb_publishable_b4fBt76JYwg-9EeG1fSEUQ_hz44tua_ere
